<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCepK4XWVWFt3Zogv_b2yHhu-4tSqU3zk</string>
	<key>GCM_SENDER_ID</key>
	<string>599030413090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moveyourknee</string>
	<key>PROJECT_ID</key>
	<string>moveyourknee</string>
	<key>STORAGE_BUCKET</key>
	<string>moveyourknee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599030413090:ios:480b416404dcbe48afd77b</string>
</dict>
</plist>